
body{
   font-family: 'Montserrat', sans-serif;
}
 .banner{

    width: 100%;
    height: 650px;

 }

.titulo-principal{
   text-align: center;
   font-size: 2em ;
   margin: 1em;
   clear: left;
}
.conteudo-principal{
   width: 940px;
   margin: 0 auto;
}
.principal{
   padding: 3em 0;
background: #fefefe;
width: 940px;
margin: 0 auto;
}
.principal p{
   margin: 0 0 1em;

}

.principal en {
   font-style: italic;
}

.utensilios{
   width: 120px;
   float: left;
   margin: 0 20px 20px 0;
}


.mapa{
   padding: 3em 0;
   background: linear-gradient(#fefefe,#888888);
}
.conteudo-mapa{
   width: 940px;
   margin: 0 auto;
}

.mapa p{
   margin: 0 0 2em;
   text-align: center;
}


.beneficios{
   padding: 3em 0;
   background: #888888;
}

.conteudo-beneficios{
   width: 940px;
   margin: 0 auto;
}

.item{

}

.item:first-child{
font-weight:bold;
}

.item::before{
   content: "★";
}


.Lista-beneficios{
   width: 40%;
   display: inline-block;
   vertical-align:top ;
   opacity: 0.3;
   transition: 400ms;
}
.Lista-beneficios:hover{
   opacity: 1;
}

.imagem-beneficios{
   width: 60%;
   box-shadow: 10px 10px 30px #000;
}

.video{
   width: 500px ;
   margin:2em auto ;
   padding-left: 250px;
}

@media screen and (max-width: 480px) {
   .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
       width: auto;
   }

   h1 {
       text-align: center;
   }

   nav {
       position: static;
   }

   .lista-beneficios, .imagem-beneficios {
       width: 100%;
   }
}